html{
    margin: 30vh 4vw ;
}
*{
    transition: 0.7s ease-in;
}
.progress{
    border-radius: 100%;
    border: 2px solid gray;
    padding: .3em .5em .3em .5em;
    float: left;
}

.p{
    margin-left: 10vw;
}

.line{
    background-color: gray;
    width: 20vw;
    height: .5vh;
    float: left;
    position: relative;
    top:2.2vh;
}

.blueline{
    background-color: rgb(84, 168, 247);
}

button{
    cursor: pointer;
}

#btn1{
    color: white;
    background-color: gray;
    border: 1px white;
    padding: 1em 2em;
    border-radius: .2em;
    margin-left: 39vw;
    margin-top: 10vh;
}

#btn2{
    color: white;
    background-color: gray;
    border: 1px white;
    padding: 1em 2em;
    border-radius: .2em;
    background-color: rgb(84, 168, 247);
}

.blueborder{
    border: 2px solid rgb(84, 168, 247);
}

.bluebtn{
    background-color: rgb(84, 168, 247) !important;
}